<h2 id="author"><%= author.name %></h2>

<% if author.books.any? %>
  <div id="books">
    <% author.books.each do |book| %>
      <div class="book">
        <h4><%= book.title %></h4>
      </div>
    <% end %>
  </div>
<% end %>
